body{
  background-image: none;
}
.container-post-page{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100vw;
}
.container-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 6px;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5em;
  height: auto;
  justify-content: center;
}
.comments-container{
  
  background-color: grey;
  border: 1px solid green;
  border-radius: 6px;
  min-width: 200px;
  margin-right: 1.5em;
  margin-left: 0;
  margin-top: 1.5em;
  height: auto;
  justify-content: center;
  border: 1px solid red;
}
@media screen and (max-width:600px) {
  .container-articles{
    width: 100vw;
  }
  .card-article{
    width: 100vw;
  }
}