.container-littlecard-dashboard {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-item);
  margin-top: 1em;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
  width: 200px;
  padding: 4px;
  height: auto;
  transition: box-shadow 0.3s;
}
.container-littlecard-dashboard:hover {
  box-shadow: 0 4px 4px 0px var(--box-shadow-color);
}
.container-img-little-card {
  border: none;
  border-radius: 6px;
  width: 200px;
}

.description-little-card {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
  margin: 4px;
}
#link-littlecard-dashboard {
  text-decoration: none;
}
.container-button-littlecard-dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #cfcfcfb0;
  height: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  padding-top: 0.4em;
}
#littlecard-dashboard-update {
  font-size: 1.8em;
  color: #34ace0;
  transition: color 0.3s;
  cursor: default;
}
#littlecard-dashboard-update:hover {
  color: #33d9b2;
}
.littlecard-dashboard-delete {
  color: #34ace0;
  font-size: 2em;
  transition: color 0.3s;
}
.littlecard-dashboard-delete:hover {
  color: #ff5252;
}

.littlecard-dashboard-publish {
  color: #33d9b2;
  font-size: 2em;
  height: 30px;
}
.littlecard-dashboard-publish:hover {
  transition: transform 0.3s;
  color: #ff5252;
  transform: rotate(180deg);
}
.littlecard-dashboard-publish-off {
  color: #ff5252;
  font-size: 2em;
  height: 30px;
  transform: rotate(180deg);
}
.littlecard-dashboard-publish-off:hover {
  color: #33d9b2;
  font-size: 2em;
  transition: transform 0.3s;
  height: 30px;
  transform: rotate(0deg);
}
.littlecard-dashboard-delete .tooltip-delete {
  position: absolute;
  font-size: 0.5em;
  visibility: hidden;
  border: 1px solid #b33939;
  border-radius: 6px;
  background-color: #ff5252;
  color: #000000;
  margin-top: -30px;
  margin-left: -72px;
}
.littlecard-dashboard-delete:hover .tooltip-delete {
  visibility: visible;
}
#littlecard-dashboard-update .tooltip-update {
  position: absolute;
  font-size: 0.54em;
  visibility: hidden;
  border: 1px solid #218c74;
  border-radius: 6px;
  background-color: #33d9b2;
  color: #000000;
  margin-top: -30px;
  margin-left: -42px;
}
#littlecard-dashboard-update:hover .tooltip-update {
  visibility: visible;
}
.littlecard-dashboard-publish .tooltip-publish {
  position: absolute;
  font-size: 0.5em;
  visibility: hidden;
  border: 1px solid #218c74;
  border-radius: 6px;
  background-color: #33d9b2;
  color: #000000;
  margin-top: -30px;
  margin-left: -72px;
}
.littlecard-dashboard-publish:hover .tooltip-publish {
  visibility: visible;
}
