.container-little-card {
  margin: 20px;
  border: 1px solid #d1ccc0;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.644);
}
.container-img-little-card {
  border: none;
  border-radius: 6px;
  width:200px;
}
