.container-home-page {
  font-family: var(--font-familly-secondary);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#memoji {
  width: 30%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#memoji:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.container-presentation {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: calc(100vh - 8em);
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  text-indent: 5em;
  margin-bottom: 3rem;
}
.container-icon-presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3em;
  color: var(--icon-color);
}
#linkedin {
  margin-right: 1em;
  color: var(--icon-color);
  text-decoration: none;
  transition: transform 0.2s ease-out;
}
#github {
  margin-right: 1em;
  color: var(--icon-color);
  text-decoration: none;
  transition: transform 0.2s;
}
#linkedin:hover {
  transform: scale(1.1);
}
#github:hover {
  transform: scale(1.1);
}
.cv {
   color: var(--icon-color);
  text-decoration: none;
  transition: transform 0.2s;
}
.cv:hover {
    transform: scale(1.1);
}

.container-competences {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 3em);
  margin-top: 6em;
  align-items: center;
  background-color: var(--secondary-color);
}
.container-work {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 3em);
  padding-top: 3em;
  align-items: center;
  justify-content: center;
}
.container-contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 3em);
  padding-top: 3em;
  align-items: center;
  background-color: var(--secondary-color);
}
.container-langages {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-front-end {
  border: 1px solid var(--border-competences-color);
  border-top: none;
  border-bottom: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-back-end {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.competences-title {
  margin-top: 2rem;
  font-weight: bold;
}
.section-resume {
  width: 80%;
  margin-top: 1rem;
}
.container-tableau-competences {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2vh;
  box-shadow: 0px 4px 4px 2px var(--box-shadow-color);
  border-radius: 30px;
}

.icon-langages {
  margin-top: 3rem;
  font-size: 4rem;
}
#form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-title {
  margin-top: 3em;
  margin-bottom: 2em;
}
#name {
  border-radius: 10px;
  padding: 6px;
  height: 1.4em;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-size: 1.2em;
  margin-bottom: 1em;
}
#email {
  border-radius: 10px;
  padding: 8px;
  height: 1.4em;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-size: 1.2em;
}
.form-details {
  margin-bottom: 2em;
}
#message {
  border-radius: 10px;
  resize: none;
  padding: 8px;
  width: 60vw;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-size: 18px;
}
.button-contact {
  text-align: center;
  width: 20vw;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin-top: 2em;
  border: 4px solid var(--font-color);
  height: 3em;
  transition: background-color 0.4s;
  font-size: 1em;
  color: var(--font-color);
}
.button-contact:hover {
  background-color: #33d9b2;
}
#transmission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: auto;
  border-radius: 10px;
  padding: 4px;
  background-color: white;
  margin-top: 4em;
  border: 4px solid var(--icon-color);
  height: 2em;
  color: var(--icon-color);
}



@media screen and (max-width: 600px) {
  .container-home-page {
    font-size: 4vw;
    width: 100vw;
    margin-top: 2em;
  }
 
  .title {
    font-size: 4vw;
  }
  .container-tableau-competences {
    width: 100vw;
  }
  .container-langages {
    width: 33vw;
    font-size: 3vw;
  }
  .container-front-end {
    width: 33vw;
    font-size: 3vw;
  }
  .container-back-end {
    width: 33vw;
    font-size: 3vw;
  }
  .button-contact {
    width: 40vw;
  }
}
