.container-home-page {
  font-family: var(--font-familly-secondary);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-presentation {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  text-indent: 5em;
  margin-bottom: 6rem;
}

.container-competences {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  width: 100vw;
  height: 95vh;
  align-items: center;
  background-color: var(--secondary-color);
  scroll-snap-align: center;
}
.container-work {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  padding-top: 3em;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}
.container-contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  padding-top: 3em;
  align-items: center;
  background-color: var(--secondary-color);
  scroll-snap-align: center;
}
.container-langages {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-front-end {
  border: 1px solid var(--border-competences-color);
  border-top: none;
  border-bottom: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-back-end {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  height: 75vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.competences-title {
  margin-top: 2rem;
  font-weight: bold;
}
.section-resume {
  width: 80%;
  margin-top: 1rem;
}
.container-tableau-competences {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0px 4px 4px 2px var(--box-shadow-color);
  border-radius: 30px;
}

#arrow {
  color: var(--font-color);
  text-decoration: none;
  font-size: 3rem;
  transition: color 0.5s;
}
#arrow-secondary {
  color: var(--font-color);
  text-decoration: none;
  font-size: 3rem;
  transition: color 0.5s;
}
#arrow:hover {
  color: var(--icon-color);
}
#arrow-secondary:hover {
  color: white;
}
.icon-langages {
  margin-top: 3rem;
  font-size: 4rem;
}
#form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  margin-top: 10em;
  margin-bottom: 2em;
}
#name {
  border-radius: 10px;
  padding: 6px;
  height: 1.4em;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-size: 1.2em;
}
#email {
  border-radius: 10px;
  padding: 8px;
  height: 1.4em;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-size: 1.2em;
}
.form-details {
  margin-bottom: 2em;
}
#message {
  border-radius: 10px;
  padding: 8px;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
}
#button-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
  padding: 4px;
  background-color: var(--primary-color);
  margin-top: 4em;
  border: 4px solid #218c74;
  height: 2em;
  transition: background-color 0.4s;
}
#button-contact:hover {
  background-color: #33d9b2;
}
#transmission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40%;
  border-radius: 10px;
  padding: 4px;
  background-color: white;
  margin-top: 4em;
  border: 4px solid var(--icon-color);
  height: 2em;
  transition: background-color 0.4s;
  color: var(--icon-color);
}
.cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 10px;
  padding: 4px;
  background-color: var(--primary-color);
  margin-bottom: 2em;
  border: 4px solid #218c74;
  height: 2em;
  transition: background-color 0.4s;
  text-decoration: none;
  color: var(--font-color);
}
.cv:hover {
  background-color: #33d9b2;
}
#memoji {
  width: 30%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#memoji:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
