.container-little-card {
  background-color: var(--bg-item);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 1em;
  border-radius: 6px;
  width: 200px;
  padding: 4px;
  height: 300px;
  transition: box-shadow 0.3s;
}
.container-little-card:hover {
  box-shadow: 0 4px 4px 0px var(--box-shadow-color);
}
.container-img-little-card {
  display: flex;
  height: 150px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.img-little-card {
  border: none;
  border-radius: 6px;
}

.title-little-card {
  color: #227093;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin-top: 10px;
}
.description-little-card {
  height: auto;
  font-size: 1rem;
  text-align: left;
  color: var(--font-color);
  margin: 4px;
}
#link-little-card {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container-little-card {
    border:1px solid var(--icon-color);
    width: 94vw;
    margin: 0;
    height: auto;
    padding-bottom: 1em;
  }
  .container-img-little-card {
    width: 100vw;
    height: auto;
  }
} 
