.container-icon-link {
  display: flex;
  margin-left: auto;
}

#id-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f7f1e3;
  width: 5em;
  font-size: 17px;
  letter-spacing: 0.06em;
  transition: background-color 0.3s;
}
#id-icon-link:hover {
  background-color: var(--icon-navbar-hover);
}
#id-icon-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #f7f1e3;
  width: 4em;
  transition: background-color 0.3s;
}
#id-icon-home:hover {
  background-color:var(--icon-navbar-hover);
}
#id-icon-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #f7f1e3;
  width: 4em;
  transition: background-color 0.3s;
  transition: color .3s;
}#id-icon-logout:hover {
  color:var(--alert-color);
  background-color: var(--icon-navbar-hover);

}