.container-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  height: auto;
}
.title-signup {
  font-size: 1em;
  color: #34ace0;
  font-weight: bold;
}
.container-signup input {
  font-size: 1em;
  border: 2px solid #34ace0;
  border-radius: 6px;
  padding: 1em;
  margin-top: 1em;
}
.container-signup button {
  border: 2px solid #34ace0;
  background-color: none;
  border-radius: 6px;
  padding: 1em;
  margin-top: 1em;
  transition:background-color .3s;
}
.container-signup button:hover{
  background-color: #34ace048;
}
