.container-icon-navbar{
  display: flex;
}
.icon-navbar{
  border: none;
  border-radius:20px;
  margin: 4px;
  padding: 10px;
  background-color: #227093;
  color:#d1ccc0;
  width:100px;
}
.icon-navbar:hover{
  background-color: #34ace07e

}