.container-icon-link {
  display: flex;
  margin-left:auto;
}

#id-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #34ace0;
  color: #f7f1e3;
  width: 5em;
  font-size: 17px;
  letter-spacing: 0.06em;
}
#id-icon-link:hover {
  background-color: #218c74;
}
#id-icon-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34ace0;
  color: #f7f1e3;
  width: 4em;
}
#id-icon-home:hover {
  background-color: #218c74;
}
