.container-icon-navbar {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.container-liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100%;
  margin-right: 1em;
  margin-left: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

#a-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 6em;
  text-decoration: none;
  color: var(--icon-color);
  font-size: 17px;
  letter-spacing: 0.06em;
  transition: background-color 0.3s;
}
#a-portfolio:hover {
  background-color: var(--icon-navbar-hover);
}
.icon-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  width: 3em;
  margin-right: 1em;
  transition: background-color 0.3s;
  height: 3em;
  scale: 1.2;
}
.icon-home:hover {
  background-color: var(--icon-navbar-hover);
}
.icon-blog {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
  transition: background-color 0.3s;
  height: 3em;
  scale: 1.2;
}
#container-icon-responsive {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}
#icon-blog {
  display: flex;
  color: var(--icon-color);
  width: 2em;
  margin-left: 2em;
  margin-right: 1em;
  transition: background-color 0.3s;
  scale: 1.2;
}
#icon-login {
  display: flex;
  color: var(--icon-color);
  width: 2em;
  margin-right: 1em;
  transition: background-color 0.3s;
  scale: 1.6;
}
#icon-dashboard{
    display: flex;
  color: var(--icon-color);
  width: 2em;
  margin-right: 1em;
  transition: background-color 0.3s;
  scale: 1.6;
}

@media screen and (max-width: 600px) {
  .container-liens {
    display: none;
  }
  .container-icon-link {
    display: none;
  }
  #container-icon-responsive {
    display: flex;
  }
  .icon-home {
    scale: 1.2;
  }
}
