.container-icon-navbar {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-right: 1em;
  margin-left: 1em;
}
.container-liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100%;
  margin-right: 1em;
  margin-left: 4em;
  padding-left: 1em;
  padding-right: 1em;
}
#a-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 6em;
  text-decoration: none;
  color: var(--icon-color);
  font-size: 17px;
  letter-spacing: 0.06em;
  transition: background-color 0.3s;

}
#a-portfolio:hover {
  background-color: var(--icon-navbar-hover);
}
@media screen and (max-width:600px) {
  .container-liens{
    display:none
  }
}