#container-caroussel-work-blog {
  border-radius: 30px;
  width: 30vw;
}
#img1-caroussel {
  border-radius: 30px;
}
#img2-caroussel {
  display: none;
}
@media screen and (max-width: 800px) {
  #container-caroussel-work-blog {
    width: 80vw;
  }
}
