.container-littlecard-dashboard {
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf48;
 margin-top: 1em;
 margin-left: 20px;
 margin-right: 20px;
  border: 1px solid #d1ccc0;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.644);
  padding: 4px;
  height: auto;
  transition: box-shadow 0.3s;
}
.container-littlecard-dashboard:hover {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.644);
}
.container-img-little-card {
  border: none;
  border-radius: 6px;
  width: 200px;
}
.title-littlecard-dashboard {
  color: #227093;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin-top: 10px;
}
.description-little-card {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
  margin: 4px;
}
#link-littlecard-dashboard {
  text-decoration: none;
}
.container-button-littlecard-dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #cfcfcfb0;
  height: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  padding-top: 0.4em;
}
#littlecard-dashboard-update {
  font-size: 1.8em;
  color: #34ace0;
  transition: color 0.3s;
}
#littlecard-dashboard-update:hover {
  color: green;
}
.littlecard-dashboard-delete {
  color: #34ace0;

  font-size: 2em;
  transition: color 0.3s;
}
.littlecard-dashboard-delete:hover {
  color: red;
}
