.container-focus-article{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:800px;
    height: auto;
    margin-top:2em;
    margin-left:auto;
    margin-right: auto;
    padding: 1px;
}