.container-blogpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #aaa69d;
  border-radius: 6px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5em;
  height: 600px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.644);
}
