.container-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 6px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5em;
  height: auto;
justify-content: center;
}
