.container-create-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
 
}
.container-create-post input {
  margin-top: 1em;
  border: 2px solid grey;
  border-radius: 6px;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}
.container-create-post input:hover {
  border: 2px solid #34ace0;
}
.container-create-post textarea {
  resize: none;
  margin-top: 1em;
  border: 2px solid grey;
  border-radius: 6px;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
  width: 70%;
  min-height: 50px;
}
.container-create-post textarea:hover {
  border: 2px solid #34ace0;
}
.button-create {
  text-align: center;
  margin-top: 1em;
  border: 2px solid grey;
  border-radius: 6px;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
  transition: background-color 0.3s;

  width: 10em;
}
.button-create:hover {
  border: 2px solid #34ace0;
  background-color: #34ace048;
}

.create-post-title {
  font-size: 2em;
  margin-top: 2em;
  color: #34ace0;
}
.container-create-post label {
  font-size: 1em;
  margin-top: 2em;
  color: #34ace0;
}

.ql-editor {
  height: 375px;
  width: 100%;
}
