#link-create-post {
  text-decoration: none;
  font-size: 1em;
  margin-top: 1em;
  color: #34ace0;
  transition:border .3s;
  font-size: 17px;
  border: 2px solid #34ace000;
  padding:.4em;
    border-radius:6px;
}
.container-dash-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#link-create-post:hover {
  border: 2px solid #34ace0;
}
.container-dashboard-email{
    margin-top:1em;
    margin-bottom: 0;
}