.container-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  max-width:1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4.5em;
  height: auto;
}
.title-presentation {
  color: #227093;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.paragraphe-presentation {
  text-align: left;
  margin: 10px;
  text-indent: 2em;
}
.st {
  color: #227093;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
}
#lien-github{
  border:1px solid grey;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
  text-decoration: none;
  color: #227093;
  width:10em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.644);
  border-radius:6px;
}