.container-big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  height: auto;
  color:var(--font-color)
}
#button-comment {
  text-decoration: none;
  color: black;
}
.big-card-title {
  margin-top: 1em;
  font-size: 2em;
  color: #34ace0;
  font-weight: bold;
}
.container-img {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
img{
  width: 100%;
}