.container-big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 60vw;
  height: auto;
  color:var(--font-color)
}
#button-comment {
  text-decoration: none;
  color: black;
}
.big-card-title {
  margin-top: 1em;
  font-size: 2em;
  color: #34ace0;
  font-weight: bold;
}
.container-img {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#big-card-content{
  background-color: var(--big-card-content);
  border: 1px solid var(--icon-color);
  padding:6px;
  border-radius: 6px;
  width: 60vw;
  word-wrap: break-word;
}
@media screen and (max-width:600px) {
  #big-card-content{
  width: 94vw;
  }
.container-big-card {
  width: 94vw;
}
}

img{
  width: 100%;
}