:root{
  --font-familly-primary: Source Sans Pro, sans-serif;
  --font-familly-secondary: "Nova Mono", monospace;
  --primary-color: white;
  --secondary-color: #34ace0;
  --tertiary-color: #84817a;
  --alert-color: #ff5252;
  --font-color: #424242;
  --bg-color: white;
  --heading-color: #292922;
  --box-shadow-color: rgba(0, 0, 0, 0.644);
  --icon-navbar-hover: #cfcfcf48;
  --bg-item: white;
  --icon-color: #34ace0;
  --border-competences-color: #22709362;
  --big-card-content: white;

}
[data-theme="light"]{
  --font-familly-primary: Source Sans Pro, sans-serif;
  --font-familly-secondary: "Nova Mono", monospace;
  --primary-color: white;
  --secondary-color: #34ace0;
  --tertiary-color: #84817a;
  --alert-color: #ff5252;
  --font-color: #424242;
  --bg-color: white;
  --heading-color: #292922;
  --box-shadow-color: rgba(0, 0, 0, 0.644);
  --icon-navbar-hover: #cfcfcf48;
  --bg-item: white;
  --icon-color: #34ace0;
  --border-competences-color: #22709362;
  --big-card-content: #84817a48;
}

[data-theme="dark"] {
  --font-familly-primary: Source Sans Pro, sans-serif;
  --primary-color: #2c2c54;
  --secondary-color: #474787;
  --tertiary-color: #2c2c54;
  --alert-color: #ff5252;
  --font-color: #e1e1ff;
  --bg-color: #40407a;
  --heading-color: #818cab;
  --box-shadow-color: #2c2c54;
  --icon-navbar-hover: #706fd348;
  --bg-item: #40407a;
  --icon-color: #e1e1ff;
  --border-competences-color: #2c2c5462;
  --big-card-content: #474787;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-familly-primary);
  background-color: var(--bg-color);
}

